.nav-button {
  cursor: pointer;
  margin: 1rem;
  display: flex;
  font-size: 5rem;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.719);
  color: white;
  font-weight: 600;
  transition: 0.33s;
  text-decoration: none;

  letter-spacing: normal;

  // .input-line {
  //   width: calc(100% - 50px);
  //   margin-left: 25px;
  //   height: 2px;

    // path {
    //   margin: 0;
    //   stroke-width: 1.5px;
    //   stroke: rgb(0, 0, 0);
    //   opacity: 0.25;
    //   transition: all 0.2s;
    //   stroke-dasharray: 0, 20;
    //   stroke-dashoffset: -20;

    //   &.active {
    //     opacity: 0.33;
    //     stroke-dasharray: 40, 0;
    //     stroke-dashoffset: 0;
    //   }
    // }
  
  &.active {
    margin-left: 2rem;
  }
  &.deActive {
    margin-left: -25rem;
  }

  &:hover {
    color: #000000c2;
    letter-spacing: 2px;
  }

  &.selected {
    color: black;
    letter-spacing: 2px;
  }

  &.unselected {
  }
}
