.nav-button {
  cursor: pointer;
  margin: 1rem;
  display: flex;
  font-size: 5rem;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.719);
  color: white;
  font-weight: 600;
  transition: 0.33s;
  text-decoration: none;

  letter-spacing: normal;


@media (max-width:1024px){
  font-size: 3rem;
}
 
  
  &.active {
    margin-left: 2rem;
  }
  &.deActive {
    margin-left: -25rem;
  }

  &:hover {
    color: #000000c2;
    letter-spacing: 2px;
  }

  &.selected {
    color: black;
    letter-spacing: 2px;
  }
}
