$menuicon-width:10rem;
$menuicon-height:10rem;

.navTrigger {
  background: transparent;
  cursor: pointer;
  width: $menuicon-width;
  height: $menuicon-height;
  position: relative;
  @media (max-width:1024px){
    width: $menuicon-width/2;
    height: $menuicon-height/2;
  }
  .icon {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 10px;
    width: $menuicon-width/2;
    height: $menuicon-height/20;
    
    @media (max-width:1024px){
      width: $menuicon-width/4;
      height: $menuicon-height/40;
    }
    

    &:nth-child(1){
        transform: translate(-50%, -50%) rotate(90deg);
    }
    &:nth-child(2){
        transform: translate(-50%, -50%) rotate(0deg);
    }

  }

  &.deActive {
    .icon:nth-child(1) {
      animation: firstIconMoveReverse 0.5s ease-in-out both;
    }
    .icon:nth-child(2) {
      animation: secondIconMoveReverse 0.5s ease-in-out both;
    }
  }
  &.active {
    .icon:nth-child(1) {
      animation: firstIconMove 0.66s ease-in-out both;
    }
    .icon:nth-child(2) {
      animation: secondIconMove 0.66s ease-in-out both;
    }
  }
}

@keyframes firstIconMove {
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes secondIconMove {
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes firstIconMoveReverse {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@keyframes secondIconMoveReverse {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
