.nav-button {
  cursor: pointer;
  margin: 1rem;
  display: flex;
  font-size: 5rem;
  -webkit-text-stroke: 2px black;
  color: white;
  font-weight: 600;
  transition: 0.33s;

  &:hover {
    color: black;
  }
  &.active {
    margin-left: 2rem;
  }
  &.deActive {
      margin-left:-20rem;
  }
}
